<div *ngIf="weather">
  <div class="row justify-content-center pb-4 m-0">
    <h1 class="lead title">{{weather.name}}</h1>
    <img class="weather-icon" src="http://openweathermap.org/img/w/{{weather.weather.weather.icon}}.png">
  </div>
  <div class="row justify-content-center">
    <h1 class="lead second">{{weather.weather.weather.description | string}}</h1>
  </div>
  <ul class="list-group list-group-flush weather-list">
    <li class="list-group-item">Температура: {{weather.weather.main.temp | degrees}}°</li>
    <li class="list-group-item">Ощущается: {{weather.weather.main.feels | degrees}}°</li>
    <li class="list-group-item">Атмосферное давление: {{this.weather.weather.main.pressure | pressure}}  мм.рт.ст</li>
    <li class="list-group-item">Влажность: {{weather.weather.main.humidity}} %</li>
    <li class="list-group-item">Скорость ветра: {{weather.weather.wind.speed}} м/с</li>
    <li class="list-group-item" *ngIf="weather.weather.rain.rain1h">Количество осадков: {{weather.weather.rain.rain1h}} мм</li>
    <li class="list-group-item" *ngIf="weather.weather.snow.snow1h">Количество осадков: {{weather.weather.snow.snow1h}} мм</li>
    <li class="list-group-item" *ngIf="weather.weather.clouds">Облачность: {{weather.weather.clouds['all']}} %</li>
  </ul>
</div>




