@import '~font-awesome/css/font-awesome.css';

.alert {
  position: absolute;
  width: 100%;
  z-index: 9999;
}

.active-li {
  border: 1px solid #007bff !important;
}

.close-icon {
  display: none;
  float: right;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
}
.modal-li:hover {
  border: 1px solid #007bff;
}
.city-li {
  border: 1px solid #fff;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.city-li:hover {
  border: 1px solid #007bff;
}
.city-li:hover .close-icon {
  display: flex;
}
.city-li:hover .weather-icon {
  display: none;
}

.title {
  font-size: 30px;
}
.second-title {
  font-size: 20px;
}

.weather-icon {
  float: right;
  height: 30px;
  width: 30px;
}

@media (max-width: 767px) {
  .close-icon {
    display: flex;
    float: left;
  }
  .city-li:hover .close-icon {
    display: flex;
  }
  .city-li:hover .weather-icon {
    display: flex;
  }
  .city-li {
    box-shadow: none;
    border: 1px solid grey;
  }

}
